{% extends 'partials/base.html.twig' %}

{% block content %}

{% include 'partials/header.html.twig' %}

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">

                     {# Added display of featured post - hibbittsdesign.org #}
                    {#        {% for post in taxonomy.findTaxonomy({'tag': "featured"}) %}
                          {% if (post.header.hide_from_post_list != true) and (post.parent.slug == page.slug) %}
                            {% include 'partials/post-card.html.twig' with {'page':post, 'truncate':true} %}
                          {% endif %}
                        {% endfor %} #}

              {#              {% for child in collection %}
                          {# Added check for hiding post in list - hibbittsdesign.org #}
              {#                 {% if child.header.hide_from_post_list != true %}  #}
                            {# Added check for not repeating feature post - hibbittsdesign.org #}
               {#                  {% if "featured" not in child.taxonomy['tag'] %}
                              {% include 'partials/post-card.html.twig' with {'page':post, 'truncate':true} %}
                            {% endif %}
                          {% endif %}
                        {% endfor %} #}


            {% for post in page.find('/blog').children.order('publish_date', 'desc') %}
                {% include 'partials/post-card.html.twig' with {page: post} %}
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}

{% do assets.addInlineJs('window.maxPages = ' ~ page.header.content.limit) %}
{% do assets.addInlineJs(js) %}